<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.handm.s1.qna.QnaDAO">
  	
  	 <sql id="searchCondition">
       <if test="kind == 'contents'">
          WHERE BOARDCONTENTS LIKE '%' || #{search} || '%'
       </if>
       
       <if test="kind == 'title'">
          WHERE BOARDTITLE LIKE '%' || #{search} || '%'
       </if>
    </sql>
  	
  	<sql id="searchCondition2">
       WHERE 
         <choose>
            <when test="kind == 'contents'">
               BOARDCONTENTS
            </when>
            <otherwise>
               BOARDTITLE
            </otherwise>
         </choose>   
      LIKE '%' || #{search} || '%'
    </sql>
  
  	
    <select id="getBoardNum" resultType="Long">
  	SELECT QNA_SEQ.NEXTVAL FROM DUAL
	</select>
	
    <select id="getQnaList" parameterType="Pager"  resultType="QnaDTO">
	SELECT * FROM 
	(
	SELECT ROWNUM R, B.* FROM 
			(SELECT * FROM BOARD
			<include refid="searchCondition2"></include>
			ORDER BY BOARDNUM DESC )
			 B 
			)
	WHERE R BETWEEN #{startRow} AND  #{lastRow}
   </select>
   
      <!-- 전체 row의 갯수를 가져오는것 -->
     <select id="getQnaCount"    parameterType="Pager" resultType="Long">
     SELECT COUNT(BOARDNUM)  FROM BOARD
      <include refid="searchCondition"></include>
     </select>
     
    <select id="getQnaDetail" parameterType="QnaDTO" resultType="QnaDTO">
	SELECT *
	FROM BOARD
	WHERE BOARDNUM  = ${boardNum} 
   </select>

	<insert id="setQnaAdd" parameterType="QnaDTO">
	 <selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
      SELECT QNAA_SEQ.NEXTVAL FROM DUAL
     </selectKey>
	INSERT INTO BOARD 
	VALUES(#{boardNum}, #{boardTitle},#{boardContents},#{boardWriter},#{boardDate},#{boardTotal})
	</insert>

	<delete id="setQnaDelete" parameterType="QnaDTO">
	DELETE BOARD WHERE BOARDNUM = ${boardNum} 
	</delete>
	
	<update id="setQnaUpdate" parameterType="QnaDTO">
	UPDATE BOARD SET BOARDTITLE=#{boardTitle}, BOARDCONTENTS=#{boardContents}, BOARDWRITER=#{boardWriter},
	BOARDDATE=#{boardDate}, BOARDTOTAL=#{boardTotal}
	WHERE BOARDNUM = ${boardNum}
	</update>
	
	<insert id="setQnaImgAdd" parameterType="QnaImgDTO">
	 INSERT INTO QNAIMG
	 VALUES (QNA_SEQ.NEXTVAL,#{boardNum},#{fileName},#{oriName})
	</insert>
	  
</mapper>